.process {
  padding: 100px 24px;
  background-color: #f7fbff;
}

.process-content {
  max-width: 1100px;
  margin: auto;
  text-align: center;
}

.process h2 {
  font-size: 32px;
  font-weight: 700;
  color: #0b3c5d;
  margin-bottom: 50px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.card {
  background: white;
  padding: 32px;
  border-radius: 10px;
  text-align: left;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}

.card h3 {
  font-size: 22px;
  color: #0b3c5d;
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  color: #555;
  margin-bottom: 14px;
}

.card ul {
  padding-left: 18px;
  margin-bottom: 16px;
}

.card ul li {
  margin-bottom: 8px;
  font-size: 14px;
  color: #333;
}
.card ul li::marker {
  color: #1fa2ff;
}

.tag {
  display: inline-block;
  background-color: #e6f3ff;
  color: #1fa2ff;
  padding: 6px 12px;
  font-size: 12px;
  border-radius: 20px;
  font-weight: 600;
}
